<app-dlmt-header #appdlmtheader (toggleMenu)="toggleMenu($event)"></app-dlmt-header>
<div class="slim-body">
  <app-left-side-menu class="slim-sidebar" #leftsidemenu></app-left-side-menu>
  <div class="slim-mainpanel">
    <router-outlet></router-outlet>
    <div class="slim-footer mg-t-0">
      <div class="container-fluid">
        <div class="footer_container">
            <p class="footer_text_right">Riverside County Flood Control</p>
        </div>
        
      </div><!-- container-fluid -->
    </div><!-- slim-footer -->
  </div><!-- slim-mainpanel -->
</div><!-- slim-body -->