<div class="message-header">
    <a href="" class="message-back"><i class="fa fa-angle-left"></i></a>
    <div class="media">
        <i class="fa fa-file-check tx-30"></i>
        <div class="media-body">
            <h6>Plan Check</h6>
        </div>
        <!-- media-body -->
    </div>
    <!-- media -->
    <div class="message-option">&nbsp;
    </div>
</div>
<!-- message-header -->
<div class="message-body ps ps--theme_default message-body-ext">
    <div class="main-component-container border_less">
        <div class="alert alert-container" [ngClass]="{'alert-danger': hasError, 'alert-primary': !hasError}" role="alert">
            {{alertText}}
        </div>

        <div class="box box-grid">
            <div class="document-container">
                <div class="tab-content">
                    <form class="search-view-form" [formGroup]="searchDataPlanCheckFormGroup" novalidate>
                        <div class="box box-search">
                            <div class="row">
                                <div class="col-3">
                                    &nbsp;
                                </div>
                                <div class="search-all search-all-new-nav col-6">
                                    <div class="search-input-container">
                                        <input placeholder="Search Plan Check ..." name="s" formControlName="searchPlanCheckInput" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tab-content-view">
                        <app-dlmt-details-plancheck-view class="tab-content-view-app"></app-dlmt-details-plancheck-view>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- message-body -->