<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="slim-pagetitle">Dashboard</h6>
    </div>
    <!-- slim-pageheader -->
    <div class="main-component-container">
        <div class="box box-grid">
            <div class="row-ext">
                <app-dashboard-main></app-dashboard-main>
            </div>
        </div>
    </div>
</div>