<div class="dialog-overlay" style="display: block;">
    <div class="editor dialog">
        <h3>Case Details | 123</h3><button class="button-close"><span>X</span></button>
        <div class="editor-container"></div>
        <div class="edit-area clearfix">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <div class="pane pane-ts">

                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <div class="pane-preview" ></div>
            </div>
        </div>
    </div>
</div>