<kendo-dialog 
    [(width)]="windowWidth" 
    [(height)]="windowHeight" 
    (close)="close()"
    title="{{title}}" *ngIf="isReady">
    <div class="casetype-container">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <kendo-dialog-actions [layout]="actionsLayout">
            <button kendoButton (click)="close()" [look]="'outline'">Cancel</button>
            <button kendoButton (click)="onSubmit()" primary="true" [look]="'outline'">Submit</button>
    </kendo-dialog-actions>
</kendo-dialog>