<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
        <h6 class="slim-pagetitle">Contact | {{selectedSearchType.text}}</h6>
    </div>
    <!-- slim-pageheader -->
    <div class="main-component-container">
        <form class="search-view-form" [formGroup]="searchDataFormGroup" novalidate>
            <div class="box box-search">
                <div class="row">
                    <div class="col-3">
                        &nbsp;
                    </div>
                    <div class="search-all search-all-new-nav col-6">
                        <div class="search-input-container">
                            <kendo-dropdownlist [data]="searchTypes" (selectionChange)="searchTypeSelectionChange($event)" formControlName="searchType" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true">
                            </kendo-dropdownlist>
                            <input id="local-search" placeholder="Search contact ..." name="s" formControlName="searchInput" />
                        </div>
                    </div>
                    <div class="col-3">
                        &nbsp;
                    </div>
                </div>
            </div>
        </form>
        <div class="box box-grid">
            <app-contact-view class="grid-full-height" (actionClick)="gridActionClick($event)" [contactType]="selectedSearchType.propertyName" #contactViewComponent>
            </app-contact-view>
        </div>
    </div>
</div>
<!-- container -->
<app-agency-details [doc]="doc" *ngIf="showEditDialog" (closeDialogClick)="closeDialogClick($event)">
</app-agency-details>