<!-- Todo: support at least 3 levels at a later time -->
<label class="sidebar-label" *ngIf="reloadMenuFlag">Navigation</label>
<ul class="nav nav-sidebar">
  <li *ngFor="let m of menuItems; let i = index;"
    class="{{m.childMenuItems && m.childMenuItems.length > 0 ? 'sidebar-nav-item with-sub':'sidebar-nav-item'}}">
    
    <a class="sidebar-nav-link" (click)="parentMenuClick($event, m)" [class.active]="m.isActiveDsp">
      <i class="{{m.icon}}"></i>
        {{m.name}}
    </a>
    <ul class="nav sidebar-nav-sub show_nav" *ngIf="m.showChildDsp" [@slideInOut] >
        <li *ngFor="let c of m.childMenuItems; let j = index;" class="nav-sub-item">
          <a [routerLink]='[c.routeName]' class="nav-sub-link" (click)="childMenuClick($event, c)" [class.active]="c.isActiveDsp">{{c.name}}</a></li>
      </ul>
  </li>
</ul> 