<kendo-grid 
[data]="viewData | async" 
(dataStateChange)="dataStateChange($event)"
scrollable="viewSetting.scrollable"
[skip]="viewSetting.skip"
[pageSize]="viewSetting.pageSize" 
[pageable]="true"
[sortable]="viewSetting.sortable" 
class="grid-full-height grid-max-height"
  *ngIf="isReady">
  <ng-template kendoGridToolbarTemplate [position]="toolbarPosition">
    <div style="float:right;">
      <kendo-dropdownbutton [look]="'outline'" [data]="exportSettings" [iconClass]="'fa fa-download'" class="action-margin-right">&nbsp;&nbsp;Export
      </kendo-dropdownbutton>
      <button kendoButton [look]="'outline'" [iconClass]="'fa fa-pencil-square-o'" [primary]="true"
        (click)="newCaseTypeClick()">&nbsp;&nbsp;New Case Type</button>
    </div>
  </ng-template>
  <kendo-grid-column *ngFor="let column of columns" field="{{column.field}}" title="{{column.title}}" width="{{column.width}}"
    format="{{column.format}}" filter="{{column.type}}"></kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
        <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand class="k-primary">Edit</button>
            <button kendoGridRemoveCommand>Remove</button>
        </ng-template>
    </kendo-grid-command-column>
    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-info></kendo-pager-info>
        <!-- <kendo-pager-page-sizes
        [pageSizes]="viewSetting.pageSizes">
      </kendo-pager-page-sizes> -->
     </ng-template>
</kendo-grid>
<div *ngIf="viewData && viewData.loading" class="k-i-loading"></div>